<div class="container">
  <div class="row">
    <div class="span12 contents-header">
      <h3><%= @playlist.title %></h3>
    </div>
    <table class="table">
      <tbody>
      <% @playlistDetails.each do |detail| %>
          <tr>
            <td><%= detail.track_datum.title %></td>
            <td><%= link_to sanitize('<i class="icon-chevron-right"</i>'), {:controller => "lyric", :action => "index", :id => detail.id} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to "追加", {:controller => "setlist", :action => "add", :id => @playlist.id}, {:class => 'btn btn-info'} %>
    <% if !@playlistDetails.empty? %>
        <%= link_to "編集", {:controller => "setlist", :action => "edit", :id => @playlist.id}, {:class => 'btn btn-info'} %>
    <% end %>
  </div>
</div>