<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <div class="controls">
        <%= f.text_field :title, :class => 'input-xlarge', :placeholder => 'プレイリスト名' %>
      </div>
    </div>
  <div class="actions">
    <%= f.submit :value=>'OK', :class => 'btn btn-large btn-block btn-info'%>
  </div>
<% end %>
