<div class="container">
  <div class="row">
    <div class="span12 contents-header">
      <h1>プレイリスト一覧</h1>
    </div>
    <table class="table">
      <tbody>
      <% @playlists.each do |playlist| %>
        <tr>
          <td><%= playlist.title %></td>
          <td><%= link_to sanitize('<i class="icon-pencil icon-white"></i>'), edit_playlist_path(playlist) %></td>
          <td><a href="momokara://playlistimport?id=<%= playlist.id %>"><i class="icon-download-alt icon-white"></i></a></td>
          <td><%= link_to sanitize('<i class="icon-remove icon-white"></i> '), playlist, method: :delete, data: { confirm: '削除しますか?'} %></td>
          <td><%= link_to sanitize('<i class="icon-chevron-right icon-white"</i>'), {:controller => "setlist", :action => "index", :id => playlist.id} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to '追加', new_playlist_path, { :class => 'btn btn-large btn-block btn-info'} %>
    </p>
  </div>
</div>