<!DOCTYPE html>
<html>
<head>
  <title>Momokara</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <%= link_to sanitize('Top'), {:controller => "playlists", :action => "index"}, {:class => "brand"} %>
    </div>
  </div>
</div>

<%= yield %>

<footer class="footer">
  <p>Momokara</p>
</footer>
</body>
</html>
